[Unit]
Description=OXGI WebSocket Service (Python)
After=network.target ssh.service
Wants=ssh.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/oxgi-ws
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
